.main-brand{
  margin-bottom: 28px;
  &__header{
    margin-bottom: 16px;
    position: relative;
    padding-right: 10px;
  }
  &__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  &__link-arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACNSURBVHgBfZE7DoUgFES5PPNia2lHiY1xC67cLVjSSWdhYWuMioy/EBSmgJA54c4ADUXZMavEzHWmlGaeuDl3sdC/GaUUL2A1vLaQDkGEpZeV+NHW2ANM7Y6jmwxB5F73BZEfyoe4D6RseuYaNwOEBmiCRmiGhhQzc9WeIUPmUTNmHi8ZM6Hk+otPE9oBkZxl9Kja1+0AAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    width: 9px;
    height: 14px;
    display: block;
  }
  &__item{
    background: linear-gradient(180deg, #CEDFF6 0%, rgba(255, 255, 255, 0) 167%);
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 4px;
    text-align: center;
    position: relative;
    padding: 13px 15px;
  }
  &__img{
    width: 100%;
    height: 100%;
    margin: 0 0 14px;
  }
  &__img img{
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__txt{
    width: 100%;
    height: 100%;
  }
  &__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin: 0;
  }
  &__anons{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    margin: 0 0 8px;
  }
  &__btn{
    width: 100%;
    max-width: 150px;
    background: transparent;
    border: 1px solid #333333;
    border-radius: 2px;
    display: inline-block;
    padding: 7px 16px;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .swiper-slide{
    &:nth-child(even){
      .main-brand__item{
        background-image: none;
        background-color: #FFE3E3;
      }
    }
  }
}