<header class="header">
    <div class="wrapper">
        <div class="header-top">
            <a class="logotip" href="/">

            </a>
            <div class="header-store">
                <div class="header-location js-popup-open" data-popup="location-popup">
                    Челябинск
                </div>


                <div data-cdd="Y" class="header-delivery js-popup-open" data-popup="delivery-popup"
                     data-type="delivery">Доставим сегодня к 10:00 - 13:00
                </div>


                <div class="user-type-refresh-delivery js-popup-open" data-popup="delivery-popup"
                     data-type="delivery"></div>
            </div>

            <div class="header-links">

                <a href="tel:88005501651" class="header-links-phone">8-800-55-01-651</a>
                <span>с 09:00 до 21:00</span>
            </div>
        </div>
        <div class="header-middle">
            <div class="header-search">
                <div class="catalog-button js-catalog-open">Каталог</div>
                <div id="title-search" class="search">
                    <form action="/search/index.php">
                        <div class="bx-input-group">
                            <input id="title-search-input" type="text" name="q" value="" autocomplete="off"
                                   class="search-input">
                        </div>
                    </form>
                </div>
            </div>


            <div class="header-buttons">

                <div class="header-buttons-item bordered-btn js-status-open">Статус заказа</div>


                <div class="header-buttons-item bordered-btn login-btn js-popup-open" data-popup="authorize-popup">
                    Вход
                </div>
                <a href="/favorite/" class="header-buttons-item bordered-btn favorite-header-btn"></a>


                <form action="/order-status/" class="status-popup" id="status-popup">
                    <input name="order" type="text" class="status-popup-input input" placeholder="Номер заказа"
                           value="">
                    <button type="submit" class="grey-btn status-popup-btn">Проверить</button>
                </form>


            </div>
        </div>

        <nav class="header-nav priority-nav priority-nav-has-dropdown is-empty" instance="0">
            <ul class="header-nav__ul">


            </ul>
            <span class="header-nav__dropdown-wrapper priority-nav__wrapper" aria-haspopup="true"><button
                    aria-controls="menu" type="button"
                    class="header-nav__dropdown-toggle priority-nav__dropdown-toggle priority-nav-is-visible"
                    prioritynav-count="1">menu</button><ul aria-hidden="true"
                                                           class="header-nav__dropdown priority-nav__dropdown"><div
                    class="header-nav__group">
                                <li>
                <a href="/about/shops/" class="icon_adresa_magazinov super section-link">
            		Адреса магазинов            	</a>
            	            		<style type="text/css">

            		.section-link.icon_adresa_magazinov.super:before {
                        background-image: url('/upload/iblock/194/map.svg') !important;
                    }

            		</style>
            	             	</li>
            	            	</div><div class="header-nav__group">
            	                            <li>
                <a href="/about/" class="icon_o_kompanii section-link">
            		О компании            	</a>
            	            	</li>
            	                            <li>
                <a href="/about/news/" class="icon_novosti section-link">
            		Новости            	</a>
            	            	</li>
            	                            <li>
                <a href="/busy/postavshchikam/" class="icon_postavshchikam section-link">
            		Поставщикам            	</a>
            	            	</li>
            	                            <li>
                <a href="/busy/" class="icon_biznesu section-link">
            		Бизнесу            	</a>
            	            	</li>
            	                            <li>
                <a href="/busy/arenda.php" class="icon_arenda section-link">
            		Аренда            	</a>
            	            	</li>
            	                            <li>
                <a href="/busy/contacts/" class="icon_kontakty section-link">
            		Контакты            	</a>
            	            	</li>
            	                            <li>
                <a href="/ishop/dostavka/" class="icon_dostavka section-link">
            		Доставка            	</a>
            	            	</li>

                </div></ul></span>
        </nav>


    </div>
</header>