<header class="header">
    <div class="container">

    </div>
</header>


<header class="header">
    <div class="wrapper">
        <div class="header-top">
            <div class="header-store">
                <div class="header-location js-popup-open" data-popup="location-popup">
                    Экибастуз					</div>
                <div style="background-color: #EB292F; color: #FFFFFF" class="header-delivery-address">Оформление интернет-заказов в вашем городе временно недоступно</div>
            </div>
            <div class="header-links">
                <a href="/about/shops/" class="header-links-item light-link ">Адреса магазинов</a>
                <a href="https://www.franschize.dobrotsen.ru/" target="_blank" class="header-links-item light-link ">Франшиза</a>
            </div>
        </div>
        <div class="header-middle">
            <a class="logotip" href="/">

            </a>
            <div class="header-search">
                <div class="catalog-button js-catalog-open">Каталог</div>
                <div id="title-search" class="search">
                    <form action="/search/index.php">
                        <div class="bx-input-group" data-children-count="1">
                            <input id="title-search-input" type="text" name="q" value="" autocomplete="off" class="search-input">
                        </div>
                    </form>
                </div>
                <!--
                <div class="search">
                    <form method="get" action="/catalog/">
                        <input type="text" name="q" class="search-input" placeholder="Поиск">
                    </form>
                </div>
                -->
            </div>


            <div class="header-buttons">

                <div class="header-buttons-item bordered-btn js-status-open">Статус заказа</div>


                <div class="header-buttons-item bordered-btn login-btn js-popup-open" data-popup="authorize-popup">Вход</div>
                <a href="/favorite/" class="header-buttons-item bordered-btn favorite-header-btn"></a>




                <form action="/order-status/" class="status-popup" id="status-popup" data-children-count="1">
                    <input name="order" type="text" class="status-popup-input input" placeholder="Номер заказа" value="">
                    <button type="submit" class="grey-btn status-popup-btn">Проверить</button>
                </form>





            </div>
        </div>
        <div class="sections">
            <div class="sections-block">

                <a href="/about/shops/" class="icon_adresa_magazinov super section-link">
                    Адреса магазинов            	</a>
                <style type="text/css">

                    .section-link.icon_adresa_magazinov.super:before

                    {
                        background-image: url('/upload/iblock/194/map.svg') !important;
                    }

                </style>

                <a href="/about/" class="icon_o_kompanii section-link">
                    О компании            	</a>

                <a href="/about/news/" class="icon_novosti section-link">
                    Новости            	</a>

                <a href="/busy/postavshchikam/" class="icon_postavshchikam section-link">
                    Поставщикам            	</a>

                <a href="/busy/" class="icon_biznesu section-link">
                    Бизнесу            	</a>

                <a href="/ishop/dostavka/" class="icon_dostavka section-link">
                    Доставка            	</a>
            </div>
        </div>

    </div>
    <div class="catalog" id="catalog-popup">


        <div class="wrapper">

            <div class="catalog-col">
                <div class="catalog-block" data-rrr="0">
                    <a href="" class="catalog-block-title catalog-">
                    </a>
                </div>
                <div class="catalog-900">
                </div>
            </div>
            <div class="catalog-col catalog-900-hide">
            </div>
            <div class="catalog-col">
                <div class="catalog-900">
                </div>
            </div>
            <div class="catalog-col-2">
                <div class="catalog-col">
                </div>
                <div class="catalog-col">
                </div>
            </div>
            <div class="mob-catalog-close js-catalog-close"></div>



            <style type="text/css">
            </style>

        </div>

    </div>
</header>

