@import 'partials/normalize';
@import 'partials/priority-nav-core';
@import 'mixin';
@import 'fonts';
@import 'icon';
@import 'buttons';
@import 'form';

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: $font1;
	&.lock {
		overflow: hidden;
	}
}

.wrp {
}
.wrapper {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 52px;
	width: 100%;
	@include r(1023){
		padding: 0 16px;
	}
}

.d-none {
	display: none;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.container {
	max-width: 1392px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.w100 {
	width: 100%;
}

.bordered-btn {
	line-height: 42px;
	background: #F7F7F7;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	display: inline-block;
	padding: 0 16px;
	height: 40px;
	white-space: nowrap;
	cursor: pointer;
}

//Шапка
@import "componets/header";

//Главная навигация
@import "componets/header-nav";

//Поиск в шапке
@import "componets/search";

//Мобильная шапка
@import "componets/mob-header";

//Мобильная навигация
@import "componets/mob-nav";

//Мобильный каталог в меню
@import "componets/mob-catalog";

