.icon{
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-login{
  background-image: url(../img/login.svg);
}
.icon-favorite{
  background-image: url(../img/favorite-black.svg);
}

.icon-cereals{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-cereals);
}
.icon-fish{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-fish);
}
.icon-fruct{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-fruct);
}
.icon-hleb{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-hleb);
}
.icon-jam{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-jam);
}
.icon-milk{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-milk);
}
.icon-myaso{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-myaso);
}
.icon-sous{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-sous);
}
.icon-tea{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-tea);
}
.icon-water{
  width: 24px;
  height: 24px;
  background-image: url(../img/menu-sprite.svg#icon-water);
}

.icon-info{
  background-image: url(../img/icon-info.svg);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
